.idea/*
.vscode/*
.DS_Store
static/*/app.js
static/*/app.css
static/.DS_Store
static/js/.DS_Store
static/js/vendor/.DS_Store
static/js/vendor/ace/.DS_Store
static/js/custom/modals.js
static/js/.DS_Store
templates/index.tolowercase.ftl
templates/index.original.ftl
templates/index.backup.ftl
static/js/custom/indicators.html
templates/scratch.html
static/js/custom/scratchpad.js
templates/pairsreorg.txt
templates/index.1.ftl
templates/dcadev.html
templates/Untitled-1
static/js/custom/Untitled-1
development/node_modules
